$BodyBackgroundColor: #12171a;
$SideBackgroundColor: #335449;
$MainBackgroundColor: #a55265;

$TextColor: #ecdce9;

$MarginTitleSide: 5%;
$MarginTitleHeight: 5%;
$MarginSubSide: 10%;
$MarginSubHeight:5%;


%FullCircle {
    border-radius: 50%;
    background-color: #ecdce9;
}

%EmptyCircle {
    border-radius: 50%;
    background-color: #a55265;
}

%FlexVertical {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-areas: " . profilecontent . ";
    background-color: $BodyBackgroundColor;
    font-size: 20px;
    grid-template-columns: 10% 70% 1fr;
    font-family: 'Sofia', cursive;
}

.Profile {
    z-index: 1;
    grid-area: profilecontent;
    display: grid;
    grid-template-areas: "ProfilePicture Title""PersonalInfo AboutMe""ProgrammingLanguages EducationHistory""Languages WorkExperience""Hobbies CurrentStatus";
    grid-template-columns: 40% 60%;
}

.Main-item1,
.Main-item2,
.Main-item3,
.Main-item4,
.Main-item5 {
    color: $TextColor;
    background-color: $MainBackgroundColor;

}

.Main-item1 {
    grid-area: Title;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: bold;
        font-size: 300%;
        max-width: 50%;
    }
}

.Main-item2 {
    grid-area: AboutMe;

    p {
        margin-left: $MarginSubSide;
    }
}

.Main-item3 {
    grid-area: EducationHistory;
    @extend %FlexVertical;

    .Education-History {
        margin: $MarginSubHeight $MarginSubSide $MarginSubHeight $MarginSubSide;
    }

    .jaar {
        float: right;
        font-weight: bold;
    }
}

.Main-item4 {
    grid-area: WorkExperience;

    p {
        margin-left: $MarginSubSide;
    }
}

.Main-item5 {
    grid-area: CurrentStatus;

    p {
        margin-left: $MarginSubSide;
    }
}

.Side-item1,
.Side-item2,
.Side-item3,
.Side-item4,
.Side-item5 {
    color: $TextColor;
    background-color: $SideBackgroundColor;
}

.Side-item1 {
    grid-area: ProfilePicture;
    

    img {
        width: 50%;
        height: auto;
        margin-right: 25%;
        margin-left: 25%;
        grid-row: 1;
        grid-column: 1;
        border-radius: 50%;
    }
}

.Side-item2 {
    grid-area: PersonalInfo;
    @extend %FlexVertical;
    background-color: $SideBackgroundColor;
    .infolist {
        margin: $MarginSubHeight $MarginSubSide $MarginSubHeight $MarginSubSide;
    }
}

.Side-item3 {
    grid-area: ProgrammingLanguages;
    @extend %FlexVertical;
    background-color: $SideBackgroundColor;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: $MarginSubHeight $MarginSubSide $MarginSubHeight $MarginSubSide;
}

.sublist {
    grid-column: 1;
}

.grades {
    grid-column: 2;
    display: grid;
    grid-column-gap: 7.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.FullCircleGrid1 {
    @extend %FullCircle;
    grid-column: 1;
}

.FullCircleGrid2 {
    @extend %FullCircle;
    grid-column: 2;
}

.FullCircleGrid3 {
    @extend %FullCircle;
    grid-column: 3;
}

.FullCircleGrid4 {
    @extend %FullCircle;
    grid-column: 4;
}

.FullCircleGrid5 {
    @extend %FullCircle;
    grid-column: 5;
}

.EmptyCircleGrid3 {
    @extend %EmptyCircle;
    grid-column: 3;
}

.EmptyCircleGrid4 {
    @extend %EmptyCircle;
    grid-column: 4;
}

.EmptyCircleGrid5 {
    @extend %EmptyCircle;
    grid-column: 5;
}

.Side-item4 {
    grid-area: Languages;
    @extend %FlexVertical;
    background-color: $SideBackgroundColor;
}

.Side-item5 {
    grid-area: Hobbies;
    @extend %FlexVertical;
    background-color: $SideBackgroundColor;
}

ul {
    list-style-position: inside;
    margin-left: $MarginSubSide;

    li {
        list-style-type: circle;
    }
}

h2 {
    font-size: 200%;
    margin: $MarginTitleHeight $MarginTitleSide $MarginTitleHeight $MarginTitleSide;
}

@media screen and (max-width: 1224px) {
    .container {
        font-size: 17px;
    }
}

@media screen and (max-width: 878px) {
    .container {
        font-size: 20px;
        grid-template-areas: "profilecontent profilecontent profilecontent";
    }

    .Profile {
        grid-template-areas: "Title Title""ProfilePicture ProfilePicture""PersonalInfo PersonalInfo""AboutMe AboutMe""ProgrammingLanguages ProgrammingLanguages""Languages Languages""Hobbies Hobbies""EducationHistory EducationHistory""WorkExperience WorkExperience""CurrentStatus CurrentStatus";
    }

    .Main-item1,
    .Main-item2,
    .Main-item3,
    .Main-item4,
    .Main-item5 {
        background-color: $SideBackgroundColor;
        color: $TextColor;
    }
    h1
    {
        margin: $MarginTitleHeight $MarginTitleSide $MarginTitleHeight $MarginTitleSide;
    }
}

@media screen and (max-width: 344px) {
    .container {
        font-size: 15px;
    }
}

@media screen and (max-width: 254px) {
    .container {
        font-size: 12px;
    }
}